*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background-image: url('backgroundimage.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#contain{
	width: 32%;
	margin:0 auto;
	overflow: auto;
	height: 100vh;
}
#tick{
    margin: 20vh auto 0 auto;
    width: 35%;
}
#tick img{
	width: 100%;
}
#main{
	margin: 20vh 10% 7.5vh 10%;
	background-color: white;
}
#links{
	margin: 0 10% 2vh 10%;
	overflow: auto;
}
#main i{
	color: #b5bfcc;
    vertical-align: middle;
    margin-left: 5%;
}
input{
	width: 70%;
	border: none;
	height: 50px;
	padding: 0 5%;
	outline: 0;
    box-shadow: none;
}
input[type=text]:focus{
	border:none;
}
button{
	width: 100%;
	height: 50px;
	border-style: none;
	background-color: #ab74c1;
	color: white;
	cursor: pointer;
}
a{
	color: white;
	text-decoration: none;
	font-size: 90%;
}
#link1{
	float: left;
}
#link2{
	float: right;
}
#loggedin{
	display: none;
	margin: 50px 36%;
}
#datahere{
	background-color: white;
	border: 1px solid black;
	border-collapse: collapse;
}
th{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 5px 10px;
}
td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px 10px;
	text-align: center;
}