*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background-image: url('backgroundimage.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#contain{
	max-width: 300px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: auto;
	min-height: 100vh;
}
#tick{
    margin:120px auto;
    width: 40%;
}
#tick img{
	width: 100%;
}
#errormessage{
	color: #FB3A3A;

}
#main{
	margin-bottom: 70px;
	background-color: white;
}
.in{
	width: 100%;
}
#links{
	margin-bottom: 15px;
	overflow: auto;
}
#main img{
	width: 6%;
	margin: 0 5%;
}
.error{
	color: #FB3A3A;
}
input{
	width: 70%;
	border: none;
	height: 50px;
	padding: 0 5%;
	outline: 0;
    box-shadow: none;
}
input[type=text]:focus{
	border:none;
}
button{
	width: 100%;
	height: 50px;
	border-style: none;
	background-color: #ab74c1;
	color: white;
	cursor: pointer;
}
a{
	color: white;
	text-decoration: none;
	font-size: 14px;
}
#link1{
	float: left;
}
#link2{
	float: right;
}
#loggedin{
	display: none;
	margin: 50px 36%;
}
#datahere{
	background-color: white;
	border: 1px solid black;
	border-collapse: collapse;
}
th{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 5px 10px;
}
td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px 10px;
	text-align: center;
}
